#results {
    margin-top: 3rem;
}

.result{
    background-color: bisque;
    border: 5px solid black; 
    border-radius: .5rem;
    color: rosybrown;
    padding: 0;
}

.result .card-title {
    padding: 1rem 1rem 0 1rem;
}

.card-img-top {
    width: 100%;
}

#top5 .modal-content, #top5 .modal-header, #top5 .modal-footer {
background-color: antiquewhite;
border-color: #f5deb3;
color: black;
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}