.wrapper {
    max-width: 500px;
    margin: 0 auto 3rem auto;
}
.acc-item .acc-header-wrapper{
    background-color: var(--header);
    color: var(--h-text);
    line-height: 2.5rem;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
    text-align: left;
    border-bottom: 2px solid var(--border);
    display: flex;
}
.acc-header {
    justify-self: start;
    flex: 1 1;
}
.move-btn {
    justify-self: end;
}
.move-up, .move-down {
  font-size: 20px;
  color: var(--move);
}
.acc-item:last-child .acc-header-wrapper{
  border-bottom: none;
}
.acc-item .acc-header-wrapper:hover .title{
  color: var(--hover);
}
.move-up:hover, .move-down:hover {
  color: var(--hover);
}
.acc-item:first-child .acc-header-wrapper{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.acc-item:last-child .acc-header-wrapper{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.acc-item .acc-body{
  height: 0px;
  transition: all 0.5s ease;
  background-color: var(--b-bg);
  color: var(--b-text);
  text-align: left;
  overflow: hidden;
}

.acc-item .acc-body p{
  padding: 1rem;
}

.acc-item .acc-header-wrapper.active{
  border-bottom: 2px solid var(--h-active);
  color: var(--h-active);
}

.acc-item .acc-header-wrapper.active + .acc-body{
  height: 180px;
  transition: all 0.5s ease;
}

.acc-item:last-child .acc-header-wrapper.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.5s ease;
}
.acc-item:last-child .acc-body{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}