.mark {
    background-color: var(--b-bg);
    border-radius: 5px;
}    
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-group-item, .card {
    background-color: var(--b-bg);
    border-color: black;
}
.list-group-item a {
    color: var(--b-text);
}
.card {
    padding: 0;
}
.card-header {
    background-color: var(--header);
    color: var(--h-text);
    border-bottom: 2px solid var(--border);
}
.card-content {
    color: burlywood;
    padding: 1rem;
}
.card-content b {
    color: var(--b-text);
}