.newmsg-wrapper {
    padding-bottom: 1.5rem;
}
.newmsg {
    background: var(--move);
}
.newmsg:focus {
    box-shadow: none;
}
.card {
    border: none;
}
.color-button {
    padding: 10px;
    margin: 5px 5px 0 0;
    border-radius: 50%;
    background: var(--hover);
    box-shadow: -2px 2px 3px rgba(0,0,0,.3);
    border: none;
}
.color-button:hover {
    background: var(--hover);
    box-shadow: none;
    transform: translate(-2px, 2px);    
}
.blockquote-footer {
    color: rgba(0,0,0,.8);
}
@media (max-width:767px) {
    .card-columns {
        column-count: 2;
    }
}
@media (max-width:576px) {
    .card-columns {
        column-count: 1;
    }
}
