html {
    scroll-behavior: smooth;
}
#profile {
    color: var(--move);
}
b, h2, h3, h4 {
    color: var(--text);
}
.quotes {
    margin: 3rem 0; 
    border: 1px solid #111;
    padding: .5rem;
    border-radius: 5px;
}
.quotes p {
    text-align: center;
    color: var(--text);
    max-width: 80%;
    margin: auto;
}
.quotemarkl {
    font-size: 5rem;
    margin: 0 0 -1em 0;
}
.quotemarkr {
    font-size: 5rem;
    margin: -.5em 0 0 0;
    float: right;
}
.mark {
    background-color: var(--b-bg);
    border-radius: 5px;
}    
ul li {
    padding-bottom: 11px;
}
.card {
    background-color: var(--hover);
    border: none; 
    border-radius: 5px;
}