.card {
    padding: 0;
}
.card-header {
    background-color: var(--header);
    color: var(--h-text);
    border-bottom: 2px solid var(--border);
}
.card-content {
    color: burlywood;
    padding: 1rem;
}
.card-content b {
    color: var(--b-text);
}