#pic{
    margin: auto;
}

#portrait{
    display: block;
    margin: auto;
    max-width: 90%;
    border: .75em solid white;
    border-radius: 5px;
    z-index: -1;
}

#logo{
    width: 75px;
    float: right;
    margin: -30px 50% 0px 0;
    transform: translate(50%, 0);
    z-index: 1;
}

#bio{
    text-align: center;
    color: var(--text);
}

h1{
    font-size: 20pt;
    text-decoration: none;
    margin: 1em 0 -.2em 0;
}

h2{
    font-size: 14pt;
    margin: 0;
}

h3{
    font-size: 12pt;
    margin: 0;
}
h4{
    font-size: 15pt;
    margin: 0;
}

a {
    color: var(--h-active); 
}

#info{
    width: 60%;
    margin: auto;
    color: #646464;
    text-align: justify;
}

.icon{
    width: 40px;
    height: auto;
}

#gibberish {
    font-style: italic;
    text-align: justify;
    color: var(--h-text);
    padding: 0 2em 0 2em;
}

.said{
    color: var(--h-active);
    text-align: right;
    margin-top: -.75em;
}

.divider{
    background: var(--border);
    height: 20px;
    margin: .5em 0 .5em 0;
    border-radius: 5px;
}