.result{
    background-color: bisque;
    border: 1px solid bisque;
    color: rosybrown;
}

.result .card-title {
padding: 1rem 1rem 0 1rem;
}

#top5 .modal-content, #top5 .modal-header, #top5 .modal-footer {
background-color: antiquewhite;
border-color: #f5deb3;
color: black;
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 5;
    }
}