{% extends 'base.html' %}
{% load static %}
{% block title %} Landing | Story4 {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story4.css' %}">
{% endblock %}

{% block heading %}
<h1>Landing Page | Story4</h1>
{% endblock %}

{% block body %}  
    <!------------------ profile ------------------>
    <div id="profile">
        <h2 class="my-2 text-center mark">profile</h2>
        
        <div class="row profile justify-content-center">
            <div class="col-sm-9">
                <div class="quotes">
                    <blockquote>
                        <h3 class="quotemarkl">“</h3>
                        <p>I always get back on my feet. It's always a matter of do I get back in time or not.</p>
                        <h3 class="quotemarkr">”</h3>
                    </blockquote>
                </div>
                <div class="desc">
                    <p>The type of person to procrastinate on something important and have a mental breakdown near the deadline only to finish it perfectly just before deadline hits the clock. <br>
                    Oh, I also type fast.
                    </p>
                    <h4>Interests:</h4>
                    <ul>
                        <li><b>Books</b> - both fictions and non-fictions (but mostly self-development books). I'm obsessed with my book collections and I take care of every single one as if they're my siblings. Mystery novels are my favorite. </li>

                        <li><b>Dusk and dawn</b> - the rising and setting sun are the most pleasant things to see (other than the full moon). The sky shows these crazy peculiar colors for a short amount of time. It's something I started to appreciate more as of lately.</li>

                        <li><b>Sketching</b> - I don't always go out and bring out my drawing kit, but when I do, it's always fun and relaxing at the same time. I mostly draw buildings and environments, and occasionally mundane objects around me. </li>
                        
                        <li><b>Crafting</b> - building things from scratch has been my perk since I was a kid. I build my own bookshelves, racks, baskets, and organizers out of recycled materials that I found around the house. </li>

                        <li><b>Journaling</b> - writing keeps me sane. My journal has been my best friend during the hardest parts of my journey. I write down thoughts and interesting moments throughout the day, also ideas to develop later down the line. </li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>

    <!------------------ portfolio ------------------>
    <div id="portfolio">
        <h2 class="text-center my-2 mark">portfolio</h2>

        <div class="project card-deck mt-3 mb-5">
            {% for i in "123" %}
            <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1422513391413-ddd4f2ce3340?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                <div class="snippet card-body">
                    <h4 class="card-title">lorem ipsum dolor</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, laboriosam.</p>
                    <a href="#" class="btn btn-outline-light">read more.</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}