{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story9.css' %}">
{% endblock %}

{% block title %}RakBooKoo | Story9{% endblock %}

{% block heading %}
<div id="notif" class="float-right" style="color: black; position: fixed; top:calc(1rem + 50px); right: 2rem;"><i class="fas fa-thumbs-up" style="font-size: 3rem;"></i><br>Liked!</div>
<h1><i class="fas fa-book-reader"></i></h1>
<h1>RakBooKoo</h1> 
<!-- Button trigger modal -->
<button type="button" id="top5button" class="btn btn-dark" data-toggle="modal" data-target="#top5">
    Top Five Books
</button>
{% endblock %}

{% block body %}
<!-- Modal -->
    <div class="modal fade" id="top5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: black;">Top Five Books by Readers</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ol id="top5content"></ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- End Modal -->

<input id="search" placeholder="Find interesting bookoos~" style="width: 20rem; border-radius: .2rem; border: none; line-height: 1.5; padding: .25rem .5rem;">
<button id="searchbutton" type="button" class="btn btn-light btn-sm">Search</button>

<div id="results" class="d-flex justify-content-around flex-wrap"></div>

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
     $(document).ready(function(){
        function bookSearch() {
            var search = $('#search').val();

            $.ajax({
                url: "https://www.googleapis.com/books/v1/volumes?q=" + search, 
                dataType: "json",

                success: function(data) {
                    for (i = 0; i < data.items.length; i++) {
                        $('#results').append(`
                        <div class="card result col-lg-3 col-md-4 col-sm-6 d-flex justify-content-between align-items-center"> 
                            <img class="card-img-top" 
                                src="${data.items[i].volumeInfo.imageLinks.thumbnail}">

                            <b id="booktitle" class="card-title text-center" style="color: maroon">
                                ${data.items[i].volumeInfo.title}
                            </b>

                            <p id="bookauthor" class="text-center">
                                ${data.items[i].volumeInfo.authors} 
                                <button type="button" 
                                    id="${data.items[i].id}" 
                                    title="${data.items[i].volumeInfo.title}" 
                                    author="${data.items[i].volumeInfo.authors}" 
                                    class="likebutton btn btn-sm btn-danger ml-3">Like
                                </button>
                            </p>
                        </div>`);
                    }
                },

                type: 'GET'
            });
        }

        function notif() {           
            $("#notif").css("color", "white");
            $("#notif").css("z-index", "30");
            $("#notif").css("transition", "all .5s ease");
            setTimeout(function() {
                $("#notif").css("color", "black");
                $("#notif").css("z-index", "-1");
            }, 1000);
        }

        function likeBook(id, title, author) {
            $.ajax({
                url: "{% url 'story9:like' %}", 
                data: { id: id, title: title, authors: author },

                success: function(book) {
                    notif();                    
                },

                type: 'POST'
            });
        }

        $("#searchbutton").click(function(){
            $('#results').empty();
            bookSearch();
        });        

        $("#results").click(function(e) {
            if ($(e.target).hasClass("likebutton")){
                var id = $(e.target).attr("id");
                var title = $(e.target).attr("title");
                var author = $(e.target).attr("author");
                likeBook(id, title, author);                 
            }                               
        });

        $("#top5button").click(function(){
            $.ajax({
                url: "{% url 'story9:top5' %}", 
                dataType: "json",

                success: function(books) {
                    $('#top5content').empty();
                    for (i in books.top5) {
                        $('#top5content').append(
                            '<li><b>' + books.top5[i].title + '</b><span> - ' + 
                            books.top5[i].authors + '</span><span class="badge badge-pill badge-danger float-right"><i class="fas fa-thumbs-up"></i>  ' + books.top5[i].likes +'</span></li>'
                        )
                    }                    
                },

                type: 'GET'
            });
        }); 
    });
</script>
{% endblock %}