{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story8.css' %}">
{% endblock %}

{% block title %}Accordion | Story8{% endblock %}

{% block heading %}
<img src="{% static 'logo-dark.png' %}" alt="logo" id="logo">
<h1>jQuery Accordion | Story8</h1>
<div class="btn btn-sm bg-dark theme-toggle" style="color: antiquewhite;">Switch Mode</div>
{% endblock %}

{% block body %}
<div class="text-center"> 
    <div class="wrapper">
    {% for item in accordion %}
        <div class="acc-item {{item.id}}">
            <div class="acc-header-wrapper">
                <div class="acc-header">
                    {{item.header}}       
                </div>  
                <div class="move-btn">
                    <i class="far fa-caret-square-up move-up"></i>
                    <i class="far fa-caret-square-down move-down"></i>
                </div>                      
            </div>
            <div class="acc-body">
                <p>{{item.body}}</p> 
            </div>
        </div>    
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %} 
<script>
    $(document).ready(function(){
        $(".theme-toggle").click(function(){
            if ($("html").hasClass("dark")){
                $("html").removeClass("dark");
                $("html").addClass("light");
            } else {
                $("html").removeClass("light");
                $("html").addClass("dark");
            }            
        });

        $(".acc-header").click(function(){
            var $item = $(this).parent();
            if ($item.hasClass('active')) {
                $item.toggleClass('active');
            } else {
                $(".acc-header-wrapper").removeClass('active');
                $item.toggleClass('active');
            }          
        });

        $(".move-down").click(function(){
            //element to move
            var $el = $(this).parent().parent().parent();
            
            //move element down one step
            if ($el.not(':last-child'))         
                $el.next().after($el);
        });

        $(".move-up").click(function(){
            //element to move
            var $el = $(this).parent().parent().parent();

            // //move element up one step
            if ($el.not(':first-child'))
                $el.prev().before($el);
        });         
    });
</script>
{% endblock %}