{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story7.css' %}">
{% endblock %}

{% block title %}Pacilboard | Story7{% endblock %}

{% block heading %}
<h1>PacilBoard | Story7</h1>
<h3>Share your thoughts with the world.</h3>
{% endblock %}

{% block body %}
<div class="row flex-column align-items-center">
  <div class="newmsg-wrapper col-lg-6 col-md-8">
    <form action="{% url 'story7:confirm' confirm=0 %}" method="POST">
        {% csrf_token %}
        <div class="d-flex flex-column align-items-start">
            <div class="row m-1 w-50">{{new_msg.name}}</div>
            <div class="row m-1 align-self-stretch">{{new_msg.msg}}</div>
            <input id="submit" class="btn btn-dark m-1 align-self-end" type="submit" value="Submit">
        </div>
    </form>
  </div>
  <div class="d-flex align-items-center mb-4"><span class="color-button align-self-start"></span><small>click these buttons to change the card's background</small></div>
</div>

<div class="card-columns">
  {% for status in status_msg %}
  <div class="card" style="background: {{status.color}};">
    <form action="{% url 'story7:color' id=status.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="color" value="{{choice}}" class="float-right color-button"> </button>
    </form>
    <div class="card-body">      
      <blockquote class="blockquote">
        <p class="message">{{status.msg}}</p>
        <footer class="blockquote-footer name">
            {{status.name}}
        </footer>
      </blockquote>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}