{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story1.css' %}">
{% endblock %}

{% block title %} Profile | Story1 {% endblock %}

{% block heading %}
<h1>Profile | Story1</h1>
{% endblock %}

{% block body %}
    <div id="main">
        <div id="pic">
            <img id="portrait" src="https://images.unsplash.com/photo-1479867208606-c753e6c72a94?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
            <img id="logo" src="{% static 'logo-dark.png' %}">
        </div>
        <div id="bio">
            <h1 class="fullname">Asfiolitha Wilmarani</h1>
            <h2>Computer Science 2019</h2>
            <h3>University of Indonesia</h3>
            <h4 class="h4">19063509XX</h4>
            <div class="divider"></div>
            <div id="info">
                
                <p><b>Hobby:</b><br>
                    <strike>teasing Captain</strike>, reading, writing, crafting, sketching</p>
                <p><b>Desc:</b><br>
                    The type of person to procrastinate on something important 
                    and have a mental breakdown near the deadline 
                    only to finish it perfectly <i>just</i> before deadline hits the clock.<br>
                    Oh, I also type fast.</p>
                <div class="divider"></div>
                <p><b>Education</b>
                <ul><li>SMPN 99 Jakarta (2013- 2016)</li>
                <li>SMAN 68 Jakarta (2016- 2019)</li>
                <li>University of Indonesia (2019 - now)</li></ul>
                </p>
            </div>
        </div>
        
        <div class="divider"></div>
        <div id="gibberish">
            <p>“All you need is love. But a little chocolate now and then doesn't hurt.”</p>
            <p class="said">― Charles M. Schulz</p>
        </div>
        <div class="divider"></div>
    </div><br>
{% endblock %}