{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story5.css' %}">
{% endblock %}

{% block title %} Add Mata Kuliah | Story5 {% endblock %}

{% block body %}
<h2 class="h2 text-center">Add Mata Kuliah</h2>

<div class="content my-4">
    <form method="POST">{% csrf_token %}
        <div class="d-flex flex-column flex-wrap">
                {{ form|crispy }} 
                <div class="btnwrapper d-flex align-items-center justify-content-between">
                    <a href="{% url 'story5:index' %}" class="btn btn-outline-secondary">Kembali</a>
                    <button class="btn btn-dark" type="submit" value="Save">Submit</button>                       
                </div>         
        </div>
    </form>
    
</div>
{% endblock %}


