{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story5.css' %}">
  <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}

{% block title %} Details Mata Kuliah | Story5 {% endblock %}

{% block body %}
{% if del %}
<h2 class="h2 text-center"> Are you sure you want to delete {{matkul.nama}}?</h2>
{% else %}
    <h2 class="h2 text-center"> {{matkul.nama}} Details </h2>
{% endif %}


<div class="content d-flex justify-content center">
    <div class="card col-lg-6 col-md-8 col-sm-10" style="margin:2rem;">
        <div class="card-header text-center">
            {{matkul.nama}}
        </div>
        <div class="card-content" style="padding: 1rem;">
            <ul>
                <li><b>Dosen Pengajar   :</b> {{matkul.dosen}}</li>
                <li><b>SKS              :</b> {{matkul.sks}}</li>
                <li><b>Deskripsi        :</b> {{matkul.desc}}</li>
                <li><b>Semester         :</b> {{matkul.sem}}</li>
                <li><b>Ruang Kelas      :</b> {{matkul.ruang}}</li>
            </ul>
        <div class="card-action">
            <div class="float-right">
                {% if del %}
                    <form method="POST"> {% csrf_token %}
                    <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i></button>
                    <a href="{% url 'story5:index' %}" class="btn btn-dark">Kembali</a></form>
                {% else %}
                    <a href="{% url 'story5:index' %}" class="btn btn-dark">Kembali</a>
                {% endif %}
            </div>
        </div>
        </div>
    </div>

    {% if not del %}
    <h4 class="h4 text-center"> Daftar Tugas </h4>
    
    <div class="tugas-container d-flex flex-column col-lg-6 col-md-8 col-sm-10 mb-4">
        <ul class="list-group">
            {% if deadlines %}
            {% for tug in deadlines %}
            <li class="list-group-item" style="color: 
            {% if tug.1 < 0 %}
                lightcoral
            {% elif tug.1 < 86400 %}
                khaki
            {% elif tug.1 < 604800 %}
                lightgreen
            {% else %}
                powderblue
            {% endif %}
            ;">
                {{tug.0}}
                <div class="float-right"> {{tug.2|date:"jS M Y"}} </div>
            </li>
            {% endfor %}
            {% else %}
            <li class="list-group-item">
                You have no tugas right now.
            </li>
            {% endif %}
        </ul>
        
        <div class="card my-3">
            <div class="card-header text-center">
                Add Tugas
            </div>
            <div class="card-content">
                <form  action="{% url 'story5:details' id=matkul.id %}" method="POST">
                    {% csrf_token %}
                    {{ form.nama|as_crispy_field }}
                    {{ form.dl|as_crispy_field }}
                    <input type="hidden" value="{{matkul.id}}" name="matkul">
                    <button class="btn btn-dark float-right" type="submit" value="Save">Submit</button>
                </form>
            </div>            
        </div>
    </div> 
    {% endif %}   
</div>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script>
    $(function () {
      $(".datetimepicker").datetimepicker({
        format: 'Y-m-d H:i:s',
      });
    });
</script>
{% endblock %}