{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story5.css' %}">
{% endblock %}

{% block title %} Mata Kuliah | Story5 {% endblock %}

{% block heading %} 
<h1>Mata Kuliah | Story5</h1>
{% endblock %}

{% block body %}
<div class="content">
    <div class="matkul-container d-flex flex-column col-lg-6 col-md-8 col-sm-10">
        <a href="{% url 'story5:add' %}" class="btn btn-dark w-100" style="margin:1rem auto;">Add Mata Kuliah</a>

        <ul class="list-group">
            {% for matakuliah in matkul %}
            <li class="list-group-item d-flex align-items-center justify-content-between"> 
                <a href="{% url 'story5:details' id=matakuliah.id %}">{{matakuliah.nama}}</a>            
                <div class="btnwrapper">
                    <a href="{% url 'story5:details' id=matakuliah.id %}" class="btn btn-dark" >details</a> 
                    <a href="{% url 'story5:del' id=matakuliah.id %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
