{% extends 'base.html' %}
{% load static %}

{% block title %}That's All I Ask of You | Story10{% endblock %}

{% block heading %}
<h1>Let the dream begin,</h1>
<h4 class="mb-3">let your darker side give in.</h4>

{% if user.is_authenticated %}
    <a id="profileButton" href="{% url 'story10:user' %}" type="button" class="btn btn-dark">Profile</a>
    <a id="logoutButton" href="{% url 'story10:logout' %}" type="button" class="btn btn-outline-dark">Log Out</a>
{% else %}
    <a id="loginButton" href="{% url 'story10:login' %}" type="button" class="btn btn-dark">Log In</a>
    <a id="signupButton" href="{% url 'story10:signup' %}" type="button" class="btn btn-outline-dark">Sign Up Now</a>
{% endif %}

{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <div class="d-flex flex-row flex-wrap justify-content-around">
        {% for snippet in snippets %}    
            <p class="m-3" style="color: {% cycle 'darksalmon' 'bisque' 'peachpuff' 'lightsalmon' 'lemonchiffon' 'khaki' %};">
                {% for line in snippet %}
                    {{ line }} <br>
                {% endfor %}
            </p>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}