{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}That's All I Ask of You{% endblock %}

{% block heading %}Log In{% endblock %}

{% block body %}
<div class="card signup p-4 mx-auto mb-5">
    <div class="signupform">    
        <form class="d-flex flex-column justify-content-center" action="" method="POST">        
            {% csrf_token %}
            <legend class="text-center lyrics">Where in the world<br> have you been hiding?</legend>
            {{ form|crispy }}
            <button id="loginButton" class="btn btn-dark mb-3 w-50 align-self-center" type="submit">Login</button>
        </form>
    </div>
    <div class="instead card-footer text-center">
        <small>
            Don't have an account? <a href="{% url 'story10:signup' %}" class="btn btn-sm btn-outline-dark ml-2">Sign Up</a>
        </small>
    </div>
</div>
{% endblock %}
