{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}That's All I Ask of You{% endblock %}

{% block heading %}Sign Up{% endblock %}

{% block body %}
<div class="card signup p-4 mx-auto mb-5">
    <div class="signupform">    
        <form class="d-flex flex-column justify-content-center" action="" method="POST">        
            {% csrf_token %}
            <legend class="text-center lyrics">
                Start a journey</br>
                to a strange new world,
            </legend>
            <h5 class="text-center">Sign Up Now</h5>
            {{ form|crispy }}
            <button id="signupButton"class="btn btn-dark mb-3 w-50 align-self-center" type="submit">Sign Up</button>
        </form>
    </div>
    <div class="instead card-footer text-center">
        <small>
            Already have an account? <a href="{% url 'story10:login' %}" class="btn btn-sm btn-outline-dark ml-2">Log In</a>
        </small>
    </div>
</div>

{% endblock %}
