.card {
    padding: 0;
    background-color: var(--b-bg);
    border-color: black;
    border-radius: 5px;
}
.card-header:first-child {
    background-color: var(--header);
    color: var(--h-text);
    border-bottom: 2px solid var(--border);
    border-radius: 5px 5px 0 0;
}
.new {
    background-color: var(--hover);
    border-color: var(--header);
    color: var(--text);
}
.card-body {
    color: burlywood;
    padding: 1rem;
}
.card-footer {
    color: burlywood;
    border-top: 2px solid var(--bg);
    padding: 1rem;
}
.card a {
    color: var(--h-text);
}
.card-body a, .details a {
    color: var(--header);
}
.list-group-item {
    background-color: var(--bg);
    padding: 5px 1rem; 
    border-color: var(--b-bg);
}
.list-group-item:first-child {
    border-radius: 5px 5px 0 0;
}
.list-group-item:last-child {
    border-radius: 0 0 5px 5px;
}
.mark {
    background-color: var(--b-bg);
    border-radius: 5px;
}    