#main {
    max-width: 600px;
    margin: 0 auto 3rem;
    background: var(--b-bg);
    border-radius: 10px;
    padding: 2rem;
}
#pic{
    margin: auto;
}
#portrait{
    display: block;
    margin: auto;
    width: 90%;
    border: .75em solid var(--header);
    border-radius: 5px;
    z-index: -1;
}
#logo{
    width: 75px;
    float: right;
    margin: -30px 50% 0px 0;
    transform: translate(50%, 0);
    z-index: 1;
}
#bio{
    text-align: center;
    color: var(--move);
}
.fullname{
    font-size: 2em;
    text-decoration: none;
    margin: 1.5em 0 -.2em 0;
    text-align: center;
    color: var(--header);
}
h2{
    font-size: 14pt;
    margin: 0;
}
h3{
    font-size: 12pt;
    margin: 0;
}
h4{
    font-size: 15pt;
    margin: 0;
}
b {
    color: var(--text); 
}
#info{
    color: var(--move);
    text-align: justify;
}
@media (min-width:768px) {
    #info{
        width: 60%;
        margin: auto;
    }
}
.icon{
    width: 40px;
    height: auto;
}
#gibberish {
    font-style: italic;
    text-align: justify;
    color: var(--move);
    padding: 0 2em 0 2em;
}
.said{
    color: var(--move);
    text-align: right;
    margin-top: -.75em;
    opacity: .8;
}
.divider{
    background: var(--border);
    height: 20px;
    margin: .5em 0 .5em 0;
    border-radius: 5px;
}