.dark{
  --bg: black; 
  --text: antiquewhite;
  --header: bisque;
  --h-text: sienna;
  --h-active: rosybrown;
  --border: burlywood;
  --move: burlywood;
  --hover: #cca46f;
  --b-bg: #111;
  --b-text: bisque;  
}

.light{
  --bg: rgb(240, 215, 182); 
  --text: black;
  --header: black;
  --h-text: bisque;
  --h-active: burlywood;
  --border: #111;
  --move: burlywood;
  --hover: #cca46f;
  --b-bg: antiquewhite;
  --b-text: #111; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.5s ease;
}
#logo {
    width: 150px;
    margin: 1rem;
}
.header{
    background-color: var(--bg);
    color: var(--text);
    padding: 1rem 0 1rem 0;
    margin-bottom: 2rem;
    transition: all 0.5s ease;
}
.signup {
  background: bisque;
  max-width: 500px;
}
.border-top {
  border-color: burlywood !important;
}
.lyrics {
  color: darksalmon;
}