{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story6.css' %}">
{% endblock %}

{% block title %} Detail {{peserta.nama}} | Story6 {% endblock %}

{% block heading %}
<h1>{{peserta.nama}} | Story6</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h2>Details of {{peserta.nama}}</h2>
            <div class="mark px-3 py-2">Participating in:</div>
            <ul class="mt-2 list-group list-group-flush">
                {% for kegiatan in peserta.kegiatan_set.all %}
                <li class="list-group-item">{{ kegiatan }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-end">
            <div class="card mb-2 w-100">
                <div class="card-header">
                    Participate in more events!
                </div>
                
                <form action="{% url 'story6:addKegiatan' id=peserta.id origin='detailPeserta' %}" method="POST" class="m-3">
                    {% csrf_token %}
                    Add kegiatan:
                    {{ add_kegiatan }}
                </form>
            </div>
            <a href="{% url 'story6:index' %}" class="btn btn-dark">Go Back</a>
        </div>
    </div>
</div>

{% endblock %}