{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story6.css' %}">
{% endblock %}

{% block title %} Detail {{kegiatan}} | Story6 {% endblock %}

{% block heading %}
<h1>{{kegiatan}} | Story6</h1>
{% endblock %}

{% block body %}
    <div class="row details">
        <div class="col-md-8">
            <h2>Details of {{kegiatan.nama}}</h2>
            <div class="mark px-3 py-2">Participants:</div>
            <ul class="mt-2 list-group list-group-flush">
                {% for peserta in kegiatan.peserta.all %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>{{ peserta }}</span>
                    <a href="{% url 'story6:delPeserta' id=kegiatan.id pk=peserta.id origin='detail' %}"><i class="fa fa-trash"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-end">
            <div class="card mb-2 w-100">
                <div class="card-header">
                    The more the merrier!
                </div>                
                <form action="{% url 'story6:addPeserta' id=kegiatan.id origin='detail' %}" method="POST" class="m-3">
                    {% csrf_token %}
                    {{ add_peserta }}
                </form>
            </div>
            <a href="{% url 'story6:index' %}" class="btn btn-dark">Go Back</a>
        </div>
    </div>

{% endblock %}