{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'story6.css' %}">
{% endblock %}

{% block title %} Daftar Kegiatan | Story6 {% endblock %}

{% block heading %}
<h1>Daftar Kegiatan | Story6</h1>
{% endblock %}

{% block body %}
    <div class="card-columns">
    {% for keg in kegiatan %}
        <div class="card">
            <div class="card-header text-center">
                <a href="{{keg.get_absolute_url}}">{{ keg.nama }}</a> 
            </div>
            <div class="card-body">
                <b>Peserta:</b>
                    <ul class="list-group list-group-flush mt-2">
                        {% for peserta in keg.peserta.all %}
                            <li class="list-group-item d-flex justify-content-between">
                                <a href="{{peserta.get_absolute_url}}">{{ peserta.nama }}</a>
                                <a href="{% url 'story6:delPeserta' id=keg.id pk=peserta.id origin='index' %}"><i class="fa fa-trash"></i></a>
                            </li>                                                     
                        {% endfor%}
                    </ul>
            </div>
            <div class="card-footer">
                <form action="{% url 'story6:addPeserta' id=keg.id origin='index' %}" method="POST">
                    {% csrf_token %}
                    <b>{{ add_peserta }}</b>
                </form>
            </div>
            
        </div> 
    {% endfor %}
        <div class="card">
            <div class="card-header new text-center">
                <b>Add New Event</b>
            </div>
            <div class="card-body">
                <form 
                    action="{% url 'story6:addKegiatan' id='0' origin='index' %}" 
                    method="POST"
                    class="d-flex flex-column align-items-end">
                    {% csrf_token %}
                    {{ add_kegiatan }}
                    <input type="submit" class="btn btn-dark mt-3">
                </form>
            </div>
        </div>
    </div>

{% endblock %}